.screen{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:absolute;
    font-family: 'Poppins', sans-serif;
    width:100vw;
    height:100vh;
    background-color:#F7EE7F;
    user-select: none;
    overflow-x:hidden;
    overflow-y:hidden;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    
  }
  
  .container{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
  }
  
  .settings-row{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
  }
  
  .time{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0.6rem;
  }
  
  .settings{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
  }
  
  .time-amount{
    margin:1rem;
    color:#582630;
  }
  
  button{
    padding:0.5rem;
    width:5rem;
    height:2.6rem;
    margin-left:0.7rem;
    margin-right:0.7rem;
    border:none;
    color:#F26157;
    background-color:#582630;
    border-radius:3rem;
    box-shadow: 0 3px 9px rgb(0 0 0 / 0.2);
    transition-timing-function:ease-in;
    transition-duration:0.1s;
  }
  Button:active{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#F26157;
    color:#F1A66A;
    border:none;
    border-radius:3rem;
    transition-timing-function:ease-in;
    transition-duration:0.1s;
    transform: scale(0.8);
  }
  
  .controls{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
  }
  
  .display{
    margin-top:1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  
  .app-title{
    margin:0.3rem;
    color:#582630;
  }
  
  .session-title{
    color:#582630;
  }
  
  .box {
      position: absolute;
      top: 0;
      transform: rotate(90deg);
      left: 0;
  }
  
  .wave {
      position: fixed;
      top: 0;
      left: 0;
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 10%;
    background: #F26157;
    width: 100vh;
    height: 90vh;
    margin-left: 250px;
    margin-top: -680px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 7000ms infinite linear;
  }
  .wave2 {
      position: fixed;
      top: 0;
      left: 0;
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 10%;
    background: #A54657;
    width: 100vh;
    height: 90vh;
    margin-left: 150px;
    margin-top: -480px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 7000ms infinite linear;
  }
  
  .box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
  }
  
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }
  
  .text-container{
   margin:4rem;
  }

  @media (max-width:700px){
    .settings-row{
        flex-direction:column;
      }
  }

  @media (max-width:415px){
    .app-title{
       font-size: 1.5rem;
      }
      
  }

  @media (max-width:375px){
    
    .display{
        margin-top:0.3rem;
        
      } 

     
  }

  @media(max-width:640px){
    .text-container{
        margin:1rem;
       }
  }